{% extends 'base.html' %}

{% block body %}

<h2>About **Go Hawk Your Gypsy Lace**</h2>

<p>**Go Hawk Your Gypsy Lace** is a complete web app which allows users to share travel recommendations and itineraries. Not only does it focuses on sharing but as well provide dynamic maps with pointers to recommend the place and add specific notes on the selected places. Users can share this read-only version of their maps across the web via a map-specific url that contains a cryptographic hash. An enclosed internal dashboard gathers all the data about trends across all users, such as 
  popular travel destinations and recommended places, and displays the data on 2 charts and a heat map. This application is 94% tested using Python.
</p>

{% endblock %}
